<template name="noteModule">
    <div class="note-module">
        <header>
            <div class="note-event">
                <label class="event-label pointer">事件列表，默认全部</label>
                <ul class="event-list hide"></ul>
            </div>
            <div class="note-new">
                <label class="new-label pointer js-note-new"></label>
            </div>
        </header>

        <div class="note-list">
            <ul class="unstyle">
                {{#each notes}}
                    {{> note}}
                {{/each}}
            </ul>
        </div>
    </div>
</template>

<template name="note">
    <li class="note-item js-note-item" _id="{{_id}}">
        <div class="item-time">
            <label>{{updateAt}}</label>
        </div>
        <div class="item-title">
            <label>事件：</label>
            <div class="edit-title title" name="title" contenteditable="true">{{title}}</div>
        </div>
        <div class="item-content">
            <label>内容：</label>
            <div class="edit-content content" name="content" contenteditable="true">{{content}}</div>
        </div>
        <div class="item-progress">
            <label>进度：</label>
            <div class="edit-progress progress" name="progress" contenteditable="true">{{progress}}</div>
        </div>
        <div class="item-risk">
            <label>风险：</label>
            <div class="edit-risk risk" name="risk" contenteditable="true">{{risk}}</div>
        </div>
    </li>
</template>