<template name="noteModule">
    <div class="note-module">
        <header>
            <div class="note-time">
                <label class="time-label pointer">10/10 - 10/20</label>
                <ul class="time-list hide">
                    <li class="time-item"></li>
                </ul>
            </div>
            <div class="note-event">
                <label class="event-label pointer">事件列表，默认全部</label>
                <ul class="event-list hide"></ul>
            </div>
            <div class="note-new">
                <label class="new-label pointer"></label>
            </div>
        </header>

        <div class="note-list">
            <ul class="unstyle">
                <li class="note-item" current>
                    <div class="item-time">
                        <label>2014年10月24&nbsp;&nbsp;23:11:58</label>
                    </div>
                    <div class="item-title">
                        <label>事件：</label>
                        <div class="edit-title" contenteditable="true">新建事件</div>
                    </div>
                    <div class="item-content">
                        <label>内容：</label>
                        <div class="edit-content" contenteditable="true"></div>
                    </div>
                    <div class="item-progress">
                        <label>进度：</label>
                        <div class="edit-progress" contenteditable="true"></div>
                    </div>
                    <div class="item-risk">
                        <label>风险：</label>
                        <div class="edit-risk" contenteditable="true"></div>
                    </div>
                </li>
                <li class="note-item" current>
                    <div class="item-time">
                        <label>2014年10月24&nbsp;&nbsp;23:11:58</label>
                    </div>
                    <div class="item-title">
                        <label>事件：</label>
                        <div class="edit-title" contenteditable="true">新建事件</div>
                    </div>
                    <div class="item-content">
                        <label>内容：</label>
                        <div class="edit-content" contenteditable="true"></div>
                    </div>
                    <div class="item-progress">
                        <label>进度：</label>
                        <div class="edit-progress" contenteditable="true"></div>
                    </div>
                    <div class="item-risk">
                        <label>风险：</label>
                        <div class="edit-risk" contenteditable="true"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>