<template name="noteModule">
    <div class="note-module">
        <header>
            <div class="{{status}}">
                {{> loginButtons}}
            </div>
            {{#if currentUser}}
                <div class="note-button">
                    <button class="note-new pointer js-note-new">New</button>
                    <button class="note-save pointer js-note-save hide">Save</button>
                    <button class="note-cancel pointer js-note-cancel hide">Cancel</button>
                    <button class="note-delete pointer js-note-delete hide">Delete</button>
                </div>
            {{/if}}
        </header>

        <div class="time-list">
            <ul class="unstyle pointer">
                {{#each times}}
                    {{> time}}
                {{/each}}
            </ul>
        </div>

        <div class="note-list">
            <ul class="unstyle">
                {{#each notes}}
                    {{> note}}
                {{/each}}
            </ul>
        </div>
    </div>
</template>

<template name="time">
    <li class="time-item" {{current}}>
        <label class="time-label pointer">{{start}} ~ {{end}}</label>
    </li>
</template>

<template name="note">
    <li class="note-item js-note-item" _id="{{_id}}">
        <div class="item-time">
            <label>{{updateAt}}</label>
        </div>
        <div class="item-title">
            <label>事件：</label>
            <div class="edit-title js-edit-title" name="title">
                {{title}}
                <label class="note-edit pointer js-note-edit {{editable}}"></label>
            </div>
        </div>
        <div class="item-content">
            <label>内容：</label>
            <div class="edit-content js-edit-content" name="content">{{content}}</div>
        </div>
        <div class="item-progress">
            <label>进度：</label>
            <div class="edit-progress js-edit-progress" name="progress">{{progress}}</div>
        </div>
        <div class="item-risk">
            <label>风险：</label>
            <div class="edit-risk js-edit-risk" name="risk">{{risk}}</div>
        </div>
    </li>
</template>