<template name="userModule">
    <div class="user-module">
        <header>
            <div class="user-search">
                <input text="text" placeholder="搜索..."/>
            </div>
        </header>
        <div class="user-list">
            <ul class="unstyle pointer">
                <li class="user-item" current>
                    <label>menghua.sun</label>
                </li>
                <li class="user-item"><label></label></li>
                <li class="user-item"><label></label></li>
                <li class="user-item"><label></label></li>
                <li class="user-item"><label></label></li>
                <li class="user-item"><label></label></li>
                <li class="user-item"><label></label></li>
            </ul>
        </div>
    </div>
</template>