*
{
	margin: 0;
	padding: 0;
}
body
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    color: #333;
}
.unstyle
{
	list-style: none;
}
.hide
{
	display: none;
}
.pointer{
	cursor: pointer;
}
div[contenteditable]
{
	outline: none;;
}
