<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="数库云" />
    <!-- 为了确保适当的绘制和触屏缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>数库云</title>
    <link rel="stylesheet" href="../../assets/css/index.css">
    <link rel="stylesheet" href="../../assets/css/app.css">
</head>
<body>
    <div class="container">
        <div class="user-module">
            <header>ChinaScope</header>
            <div class="search user-search">
                <div>
                    <input text="text" placeholder="搜索..."/>
                </div>
            </div>
            <div class="user-list">
                <ul class="unstyle">
                    <li class="user-item">
                        <label>menghua.sun</label>
                    </li>
                    <li class="user-item">
                        <label>menghua.sun</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="event-module absolute">
            <header>日期选择，默认本周</header>
        </div>
        <div class="absolute note-module">
            <header></header>
        </div>
	</div>

    <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="../../assets/js/index.js"></script>
</body>
</html>