<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="数库" />
    <!-- 为了确保适当的绘制和触屏缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>数库</title>
    <link rel="stylesheet" href="../../assets/css/index.css">
    <link rel="stylesheet" href="../../assets/css/app.css">
</head>
<body>
    <div class="container">
        <div class="user-module">
            <header>
                <div class="user-search">
                    <input text="text" placeholder="搜索..."/>
                </div>
            </header>
            <div class="user-list">
                <ul class="unstyle pointer">
                    <li class="user-item" current>
                        <label>menghua.sun</label>
                    </li>
                    <li class="user-item"><label></label></li>
                    <li class="user-item"><label></label></li>
                    <li class="user-item"><label></label></li>
                    <li class="user-item"><label></label></li>
                    <li class="user-item"><label></label></li>
                    <li class="user-item"><label></label></li>
                </ul>
            </div>
        </div>
        <div class="note-module">
            <header>
                <div class="note-time">
                    <label class="time-text pointer">10/10 - 10/20</label>
                    <ul class="time-list hide">
                        <li class="time-item"></li>
                    </ul>
                </div>
                <div class="note-new pointer"></div>
            </header>
            <div class="note-body">
                <div class="event-list">
                    <ul class="unstyle pointer">
                        <li class="event-item" current><label>新建事件</label></li>
                        <li class="event-item"></li>
                        <li class="event-item"></li>
                        <li class="event-item"></li>
                        <li class="event-item"></li>
                        <li class="event-item"></li>
                        <li class="event-item"></li>
                        <li class="event-item"></li>
                        <li class="event-item"></li>
                        <li class="event-item"></li>
                    </ul>
                </div>
                <div class="note-list">
                    <ul class="unstyle">
                        <li class="note-item" current>
                            <div class="item-time">
                                <label>2014年10月24&nbsp;&nbsp;23:11:58</label>
                            </div>
                            <div class="item-title">
                                <label>事件：</label>
                                <div class="edit-title" contenteditable="true">新建事件</div>
                            </div>
                            <div class="item-content">
                                <label>内容：</label>
                                <div class="edit-content" contenteditable="true"></div>
                            </div>
                            <div class="item-progress">
                                <label>进度：</label>
                                <div class="edit-progress" contenteditable="true"></div>
                            </div>
                            <div class="item-risk">
                                <label>风险：</label>
                                <div class="edit-risk" contenteditable="true"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
	</div>

    <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="../../assets/js/index.js"></script>
</body>
</html>