<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="数库云" />
    <!-- 为了确保适当的绘制和触屏缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>数库云</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <link rel="stylesheet" href="../../assets/css/new.css">
</head>
<body>
    <header></header>

    <div class="well main">
        <div class="main-nav"></div>
        <div class="main-body">
            <div class="main-head"></div>
            <div class="note">
                <div class="note-list"></div>
                <div class="note-body"></div>
            </div>
        </div>
	</div>

    <footer></footer>

    <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="../../assets/js/index.js"></script>
</body>
</html>